[submodule "OCDS_Software/openocd"]
	path = OCDS_Software/openocd
	url = https://github.com/jhausladen/openocd.git
[submodule "analysis_tools/ARMv7t-WCET-Analysis"]
	path = analysis_tools/ARMv7t-WCET-Analysis
	url = https://github.com/jerabek/ARMv7t-WCET-Analysis.git
[submodule "software/OpenJFX_Monocle/Monocle"]
	path = software/OpenJFX_Monocle/Monocle
	url = https://github.com/jhausladen/Monocle.git
