<component name="libraryTable">
  <library name="logback-classic-1.1.7">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/logback-1.1.7/logback-classic-1.1.7.jar!/" />
      <root url="jar://$PROJECT_DIR$/logback-1.1.7/logback-core-1.1.7.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>